@font-face {
    panose-1: 2 15 5 2 2 2 4 3 2 4
    }
@font-face {
    panose-1: 2 4 5 3 5 4 6 3 2 4
    }
@font-face {
    panose-1: 2 11 6 4 3 5 4 4 2 4
    }
@font-face {
    panose-1: 5 2 1 2 1 5 7 7 7 7
    }
p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-autospace: none
    }
h1 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-autospace: none;
    font-weight: bold
    }
h2 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-autospace: none;
    font-weight: bold;
    font-style: italic
    }
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-autospace: none
    }
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    margin: 0;
    margin-bottom: 0.0001pt;
    tab-stops: center 216pt right 432pt;
    text-autospace: none
    }
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-autospace: none;
    font-weight: bold
    }
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-autospace: none
    }
span.Heading1Char {
    font-weight: bold
    }
span.Heading2Char {
    font-weight: bold;
    font-style: italic
    }
span.CommentSubjectChar {
    font-weight: bold
    }
p.mainheading, li.mainheading, div.mainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.authorname, li.authorname, div.authorname {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-style: italic
    }
div.WordSection1 {
    page: WordSection1
    }
@list l0 {
    }
@list l1 {
    }
@list l2 {
    }
@list l3 {
    }
@list l4 {
    }
ol {
    margin-bottom: 0
    }
ul {
    margin-bottom: 0
    }