@font-face {
    panose-1: 2 7 3 9 2 2 5 2 4 4
    }
@font-face {
    panose-1: 5 0 0 0 0 0 0 0 0 0
    }
@font-face {
    panose-1: 5 0 0 0 0 0 0 0 0 0
    }
@font-face {
    panose-1: 2 4 5 3 5 4 6 3 2 4
    }
@font-face {
    panose-1: 2 0 5 0 0 0 0 0 0 0
    }
@font-face {
    panose-1: 2 11 6 4 3 5 4 4 2 4
    }
p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: 14.2pt
    }
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: 14.2pt
    }
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: 14.2pt
    }
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: center 216pt right 432pt
    }
span.MsoFootnoteReference {
    vertical-align: super
    }
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: 14.2pt;
    font-weight: bold
    }
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: 14.2pt
    }
p.MsoRMPane, li.MsoRMPane, div.MsoRMPane {
    margin: 0;
    margin-bottom: 0.0001pt
    }
span.MsoIntenseReference {
    font-variant: small-caps;
    letter-spacing: 0.25pt;
    font-weight: bold;
    text-decoration: underline;
    text-underline: single
    }
p.MittleresRaster2, li.MittleresRaster2, div.MittleresRaster2 {
    margin: 0;
    margin-bottom: 0.0001pt
    }
p.Example, li.Example, div.Example {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: 14.2pt 1cm 63.8pt 99.25pt 5cm 184.3pt 8cm 269.35pt 11cm
    }
p.Footnote, li.Footnote, div.Footnote {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-justify: inter-ideograph;
    tab-stops: 14.2pt
    }
span.CommentSubjectChar {
    font-weight: bold
    }
div.WordSection1 {
    page: WordSection1
    }
@list l0 {
    }
ol {
    margin-bottom: 0
    }
ul {
    margin-bottom: 0
    }