@font-face {
    panose-1: 2 0 5 0 0 0 0 0 0 0
    }
@font-face {
    panose-1: 2 4 5 3 5 4 6 3 2 4
    }
p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
    margin-bottom: 0.0001pt
    }
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    margin: 0;
    margin-bottom: 0.0001pt;
    tab-stops: center 216pt right 432pt
    }
div.WordSection1 {
    page: WordSection1
    }