p {
    margin-bottom: 0.1in;
    widows: 2;
    orphans: 2
    }
td.c21 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c20 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c19 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c18 {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c17 {
    border: none;
    padding: 0
    }
td.c16 {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c15 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c14 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c13 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
p.c11 {
    margin-bottom: 0;
    text-align: justify
    }
p.c10 {
    margin-bottom: 0;
    text-align: justify
    }
p.c9 {
    margin-bottom: 0
    }
p.c8 {
    margin-bottom: 0;
    text-align: center
    }
span.c7 {
    font-style: italic
    }
p.c5 {
    margin-bottom: 0;
    text-align: center
    }
span.c4 {
    font-weight: bold
    }
p.c3 {
    margin-bottom: 0
    }
p.c2 {
    margin-bottom: 0.45in
    }
span.c1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.3in;
    height: 0.02in;
    border: none;
    padding: 0;
    background: #fff
    }