p {
    margin-bottom: 0.1in;
    widows: 2;
    orphans: 2
    }
p.c28 {
    margin-bottom: 0
    }
p.c27 {
    text-indent: -0.1in;
    margin-bottom: 0
    }
span.c26 {
    font-style: italic
    }
p.c24 {
    font-weight: bold;
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
span.c19 {
    font-weight: bold
    }
p.c18 {
    border: 1px solid #000;
    margin-bottom: 0;
    orphans: 0;
    padding: 0.01in 0.06in;
    text-align: justify;
    widows: 0
    }
span.c16 {
    font-style: italic
    }
span.c15 {
    font-style: italic;
    font-weight: bold
    }
p.c14 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
p.c13 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
p.c12 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
span.c11 {
    font-style: italic
    }
span.c10 {
    font-weight: bold
    }
p.c8 {
    margin-bottom: 0;
    text-align: justify
    }
p.c7 {
    margin-bottom: 0;
    text-align: justify
    }
span.c6 {
    font-weight: bold
    }
span.c5 {
    font-style: italic
    }
p.c3 {
    margin-bottom: 0;
    text-align: center
    }
p.c2 {
    margin-bottom: 0;
    text-align: center
    }
span.c1 {
    font-weight: bold
    }