p {
    margin-bottom: 0.1in;
    widows: 2;
    orphans: 2
    }
p.c47 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
span.c46 {
    font-style: italic
    }
p.c44 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
span.c43 {
    font-weight: bold
    }
p.c42 {
    text-indent: 0.5in;
    margin-bottom: 0
    }
p.c41 {
    margin-bottom: 0;
    text-align: justify
    }
span.c40 {
    font-style: italic
    }
p.c39 {
    margin-bottom: 0
    }
p.c38 {
    margin-bottom: 0
    }
p.c37 {
    margin-bottom: 0;
    text-align: justify
    }
span.c36 {
    font-style: italic;
    font-weight: bold
    }
p.c35 {
    text-indent: 0.5in;
    margin-bottom: 0
    }
p.c34 {
    margin-bottom: 0
    }
span.c33 {
    font-variant: small-caps
    }
p.c32 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: 0.5in
    }
p.c30 {
    margin-bottom: 0
    }
p.c29 {
    margin-bottom: 0
    }
p.c28 {
    margin-bottom: 0
    }
span.c27 {
    font-style: italic
    }
span.c26 {
    font-style: italic;
    font-weight: bold
    }
span.c25 {
    font-weight: bold
    }
td.c24 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c23 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c21 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c20 {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c19 {
    border: none;
    padding: 0
    }
td.c18 {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c16 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
p.c15 {
    font-weight: bold
    }
td.c14 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c13 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
p.c12 {
    margin-bottom: 0;
    text-align: justify
    }
span.c10 {
    font-style: italic
    }
p.c8 {
    margin-bottom: 0;
    text-align: justify
    }
span.c7 {
    font-weight: bold
    }
p.c6 {
    margin-bottom: 0;
    text-align: justify
    }
span.c5 {
    font-style: italic
    }
p.c3 {
    margin-bottom: 0;
    text-align: center
    }
p.c2 {
    margin-bottom: 0;
    text-align: center
    }
span.c1 {
    font-weight: bold
    }