p {
    margin-bottom: 0.1in;
    widows: 2;
    orphans: 2
    }
p.c37 {
    margin-bottom: 0;
    text-align: justify
    }
span.c35 {
    font-variant: small-caps
    }
span.c34 {
    font-style: italic;
    font-weight: bold
    }
span.c33 {
    font-style: italic
    }
p.c31 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.59in
    }
p.c30 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.59in
    }
span.c29 {
    font-variant: small-caps
    }
span.c28 {
    font-style: italic;
    font-weight: bold
    }
span.c27 {
    font-style: italic
    }
td.c26 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c25 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c24 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c23 {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c22 {
    border: none;
    padding: 0
    }
td.c21 {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c20 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
p.c19 {
    text-align: center
    }
td.c18 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c17 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
p.c16 {
    text-align: justify
    }
p.c15 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: 0.3in
    }
p.c14 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: 0.3in
    }
span.c12 {
    font-weight: bold
    }
p.c11 {
    margin-bottom: 0;
    text-align: justify
    }
span.c10 {
    font-weight: bold
    }
p.c9 {
    margin-bottom: 0;
    text-align: justify
    }
p.c8 {
    margin-bottom: 0;
    text-align: center
    }
span.c7 {
    font-style: italic
    }
p.c5 {
    margin-bottom: 0;
    text-align: center
    }
span.c4 {
    font-weight: bold
    }
p.c3 {
    margin-bottom: 0
    }
p.c2 {
    margin-bottom: 0.26in
    }
span.c1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.14in;
    height: 0.02in;
    border: none;
    padding: 0;
    background: #fff
    }