p {
    margin-bottom: 0.1in;
    text-align: left;
    widows: 2;
    orphans: 2
    }
p.c58 {
    margin-top: 0.46in;
    margin-bottom: 0
    }
span.c57 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.02in;
    border: none;
    padding: 0;
    background: #fff
    }
p.c56 {
    margin-bottom: 0;
    border: none;
    padding: 0
    }
p.c55 {
    margin-bottom: 0
    }
span.c54 {
    font-weight: bold
    }
p.c53 {
    margin-bottom: 0
    }
p.c52 {
    font-style: italic;
    margin-bottom: 0
    }
p.c51 {
    font-weight: bold;
    margin-bottom: 0
    }
span.c50 {
    font-style: italic
    }
p.c49 {
    margin-bottom: 0;
    text-indent: -0.1in
    }
p.c48 {
    margin-bottom: 0
    }
p.c46 {
    margin-bottom: 0
    }
span.c45 {
    font-weight: bold
    }
td.c44 {
    border-top: none;
    border-bottom: 1px solid #00000a;
    border-left: none;
    border-right: 1px solid #00000a;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c43 {
    border-top: none;
    border-bottom: 1px solid #00000a;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c42 {
    border-top: none;
    border-bottom: 1px solid #00000a;
    border-left: 1px solid #00000a;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c41 {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #00000a;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c40 {
    border: none;
    padding: 0
    }
td.c39 {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #00000a;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c38 {
    border-top: 1px solid #00000a;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #00000a;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c37 {
    border-top: 1px solid #00000a;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c35 {
    border-top: 1px solid #00000a;
    border-bottom: none;
    border-left: 1px solid #00000a;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c34 {
    border-top: 1px solid #00000a;
    border-bottom: 1px solid #00000a;
    border-left: none;
    border-right: 1px solid #00000a;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
p.c33 {
    margin-bottom: 0
    }
td.c31 {
    border-top: 1px solid #00000a;
    border-bottom: 1px solid #00000a;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c29 {
    border-top: 1px solid #00000a;
    border-bottom: 1px solid #00000a;
    border-left: 1px solid #00000a;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
p.c27 {
    margin-bottom: 0
    }
p.c26 {
    margin-bottom: 0
    }
p.c25 {
    text-indent: -0.2in;
    margin-bottom: 0
    }
span.c24 {
    font-style: italic
    }
span.c23 {
    font-style: italic;
    font-weight: bold
    }
p.c22 {
    margin-bottom: 0;
    text-indent: -0.2in
    }
p.c21 {
    margin-bottom: 0;
    orphans: 0;
    text-indent: -0.2in;
    widows: 0
    }
p.c20 {
    text-indent: -0.2in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c19 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
p.c17 {
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
span.c16 {
    font-style: italic
    }
span.c15 {
    font-style: italic;
    font-weight: bold
    }
span.c14 {
    font-weight: bold
    }
p.c12 {
    margin-bottom: 0
    }
p.c11 {
    margin-bottom: 0
    }
span.c10 {
    font-weight: bold
    }
p.c9 {
    margin-bottom: 0
    }
p.c8 {
    margin-bottom: 0;
    orphans: 0;
    text-align: center;
    widows: 0
    }
span.c6 {
    font-style: italic
    }
p.c4 {
    margin-bottom: 0.19in;
    margin-top: 0.19in;
    text-align: center
    }
span.c3 {
    font-weight: bold
    }
p.c2 {
    margin-bottom: 0;
    orphans: 0;
    text-align: center;
    widows: 0
    }
span.c1 {
    font-weight: bold
    }