p {
    margin-bottom: 0.08in;
    widows: 0;
    orphans: 0
    }
p.c46 {
    margin-top: 0.47in;
    margin-bottom: 0
    }
span.c45 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.08in;
    height: 0.19in;
    border: none;
    padding: 0;
    background: #fff
    }
p.c44 {
    font-weight: bold;
    margin-bottom: 0
    }
span.c43 {
    font-style: italic
    }
p.c42 {
    margin-bottom: 0
    }
p.c41 {
    margin-bottom: 0
    }
p.c40 {
    margin-bottom: 0
    }
p.c39 {
    text-indent: 0.5in;
    margin-bottom: 0
    }
p.c38 {
    text-indent: 0.2in;
    margin-bottom: 0
    }
p.c37 {
    margin-bottom: 0
    }
p.c36 {
    text-indent: -0.2in;
    margin-bottom: 0
    }
p.c35 {
    margin-bottom: 0
    }
p.c34 {
    margin-bottom: 0
    }
p.c31 {
    margin-bottom: 0
    }
p.c30 {
    margin-bottom: 0
    }
span.c29 {
    font-style: italic;
    font-weight: bold
    }
span.c28 {
    font-weight: bold
    }
span.c27 {
    font-style: italic
    }
td.c26 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c25 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c24 {
    border-top: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c23 {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c22 {
    border: none;
    padding: 0
    }
td.c21 {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
td.c19 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #000;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.08in
    }
td.c18 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0
    }
p.c17 {
    font-weight: bold
    }
td.c16 {
    border-top: 1px solid #000;
    border-bottom: none;
    border-left: 1px solid #000;
    border-right: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0
    }
p.c14 {
    margin-bottom: 0;
    text-indent: 0.5in
    }
span.c13 {
    font-style: italic;
    font-weight: bold
    }
span.c12 {
    font-style: italic
    }
p.c9 {
    margin-bottom: 0
    }
p.c8 {
    margin-bottom: 0
    }
span.c7 {
    font-weight: bold
    }
p.c6 {
    margin-bottom: 0;
    text-indent: -0.1in
    }
span.c5 {
    font-style: italic
    }
p.c3 {
    margin-bottom: 0;
    text-align: center
    }
p.c2 {
    margin-bottom: 0;
    text-align: center
    }
span.c1 {
    font-weight: bold
    }