p {
    margin-bottom: 0.1in;
    text-align: left;
    widows: 2;
    orphans: 2
    }
p.c55 {
    margin-top: 0.46in;
    margin-bottom: 0
    }
span.c54 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.02in;
    border: none;
    padding: 0;
    background: #fff
    }
p.c53 {
    margin-bottom: 0;
    border: none;
    padding: 0
    }
p.c52 {
    text-indent: -0.1in;
    margin-top: 0.19in;
    margin-bottom: 0.19in
    }
p.c51 {
    margin-bottom: 0.19in;
    margin-top: 0.19in;
    text-indent: -0.1in
    }
p.c50 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0;
    text-indent: -0.1in
    }
p.c49 {
    margin-bottom: 0;
    orphans: 0;
    text-indent: -0.1in;
    widows: 0
    }
span.c48 {
    font-weight: bold
    }
span.c47 {
    font-style: italic;
    font-weight: bold
    }
p.c46 {
    text-indent: 0.39in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c45 {
    margin-bottom: 0;
    orphans: 0;
    text-indent: 0.39in;
    widows: 0
    }
p.c44 {
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c43 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
p.c42 {
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c41 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
span.c40 {
    font-style: italic;
    font-weight: bold
    }
p.c39 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
span.c38 {
    font-style: italic
    }
p.c36 {
    text-indent: 0.45in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c35 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
p.c34 {
    margin-bottom: 0;
    orphans: 0;
    text-indent: 0.5in;
    widows: 0
    }
p.c33 {
    text-indent: 0.2in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
span.c32 {
    font-style: italic;
    font-weight: bold
    }
span.c31 {
    font-style: italic;
    font-weight: bold
    }
p.c30 {
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c29 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
p.c28 {
    text-indent: 0.5in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c27 {
    margin-bottom: 0;
    orphans: 0;
    text-indent: 0.2in;
    widows: 0
    }
p.c26 {
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
span.c25 {
    font-weight: bold
    }
td.c24 {
    background-color: #FFF;
    border: 1px solid #00000a;
    padding-bottom: 0;
    padding-left: 0.08in;
    padding-right: 0.08in;
    padding-top: 0
    }
p.c22 {
    margin-bottom: 0
    }
span.c21 {
    font-weight: bold
    }
p.c20 {
    margin-bottom: 0;
    text-indent: 0.5in
    }
p.c19 {
    text-indent: 0.5in;
    margin-bottom: 0
    }
p.c17 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
p.c16 {
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c15 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
span.c14 {
    font-style: italic;
    font-weight: bold
    }
span.c13 {
    font-style: italic
    }
p.c12 {
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c11 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
p.c9 {
    margin-bottom: 0
    }
p.c8 {
    margin-bottom: 0;
    orphans: 0;
    widows: 0
    }
span.c7 {
    font-weight: bold
    }
p.c6 {
    margin-bottom: 0;
    text-align: center
    }
span.c5 {
    font-style: italic
    }
p.c3 {
    margin-bottom: 0;
    text-align: center
    }
p.c2 {
    margin-bottom: 0;
    text-align: center
    }
span.c1 {
    font-weight: bold
    }