p {
    margin-bottom: 0.1in;
    widows: 2;
    orphans: 2
    }
p.c37 {
    text-indent: -0.1in;
    margin-bottom: 0
    }
p.c36 {
    text-indent: -0.1in;
    margin-bottom: 0
    }
p.c35 {
    text-indent: -0.1in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c34 {
    font-weight: bold;
    margin-bottom: 0;
    text-align: justify
    }
p.c33 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
span.c32 {
    font-style: italic;
    font-weight: bold
    }
span.c31 {
    font-style: italic
    }
p.c29 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
span.c28 {
    font-style: italic;
    font-weight: bold
    }
span.c27 {
    font-style: italic
    }
p.c26 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
p.c25 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    widows: 0
    }
span.c24 {
    font-weight: bold
    }
span.c22 {
    font-weight: bold
    }
span.c20 {
    font-style: italic
    }
span.c19 {
    font-style: italic;
    font-weight: bold
    }
p.c18 {
    border: 1px solid #000;
    margin-bottom: 0;
    padding: 0.01in 0.06in;
    text-align: justify;
    text-indent: -0.2in
    }
span.c16 {
    font-style: italic;
    font-weight: bold
    }
span.c15 {
    font-style: italic
    }
p.c13 {
    margin-bottom: 0;
    text-align: justify
    }
p.c12 {
    margin-bottom: 0;
    text-align: justify
    }
p.c11 {
    margin-bottom: 0
    }
span.c10 {
    font-weight: bold
    }
p.c9 {
    margin-bottom: 0
    }
span.c8 {
    font-style: italic
    }
p.c6 {
    margin-bottom: 0;
    text-align: center
    }
p.c5 {
    margin-bottom: 0;
    text-align: center
    }
span.c4 {
    font-weight: bold
    }
p.c3 {
    margin-bottom: 0
    }
p.c2 {
    margin-bottom: 0.45in
    }
span.c1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.3in;
    height: 0.02in;
    border: none;
    padding: 0;
    background: #fff
    }