p {
    margin-bottom: 0.08in;
    text-align: left;
    widows: 2;
    orphans: 2
    }
h1.western {
    font-weight: normal
    }
h1.cjk {
    font-weight: normal
    }
h1.ctl {
    font-weight: normal
    }
p.c38 {
    margin-top: 0.46in;
    margin-bottom: 0;
    text-indent: -0.1in
    }
span.c37 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.02in;
    border: none;
    padding: 0;
    background: #fff
    }
p.c36 {
    margin-bottom: 0;
    border: none;
    padding: 0;
    text-indent: -0.1in
    }
p.c35 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
span.c34 {
    font-variant: small-caps
    }
p.c33 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
p.c32 {
    margin-bottom: 0;
    text-indent: -0.1in
    }
p.c31 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
p.c30 {
    margin-bottom: 0;
    text-indent: -0.1in
    }
p.c29 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
p.c28 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
h1.c27 {
    text-indent: -0.3in;
    margin-top: 0.19in;
    margin-bottom: 0.19in
    }
span.c26 {
    font-style: italic;
    font-weight: normal
    }
span.c25 {
    font-weight: normal
    }
p.c24 {
    margin-bottom: 0;
    orphans: 0;
    text-align: justify;
    text-indent: -0.1in;
    widows: 0
    }
p.c23 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
span.c22 {
    font-style: italic
    }
p.c21 {
    margin-bottom: 0;
    text-align: left;
    text-indent: -0.1in
    }
p.c20 {
    text-indent: -0.1in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c19 {
    margin-bottom: 0;
    text-align: left;
    text-indent: -0.1in
    }
span.c18 {
    font-style: italic
    }
p.c16 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
p.c15 {
    text-indent: -0.1in;
    margin-bottom: 0
    }
p.c14 {
    margin-bottom: 0;
    text-indent: -0.1in
    }
span.c12 {
    font-style: italic
    }
p.c10 {
    text-indent: -0.1in;
    margin-bottom: 0;
    widows: 0;
    orphans: 0
    }
p.c9 {
    text-indent: -0.1in;
    margin-bottom: 0
    }
p.c7 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
p.c6 {
    text-indent: -0.1in;
    margin-bottom: 0
    }
span.c5 {
    font-style: italic
    }
p.c3 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: -0.1in
    }
p.c2 {
    margin-bottom: 0;
    text-indent: -0.1in
    }
span.c1 {
    font-weight: bold
    }