p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoFooter, li.MsoFooter, div.MsoFooter {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
span.MsoFootnoteReference {
    vertical-align: super
    }
span.MsoEndnoteReference {
    vertical-align: super
    }
p.MsoEndnoteText, li.MsoEndnoteText, div.MsoEndnoteText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    background: navy
    }
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoRMPane, li.MsoRMPane, div.MsoRMPane {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.Fusnotentext, li.Fusnotentext, div.Fusnotentext {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -21.25pt
    }
span.Heading1Char1 {
    font-weight: bold
    }
span.Heading2Char {
    font-weight: bold;
    font-style: italic
    }
p.Infoboxleft, li.Infoboxleft, div.Infoboxleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.Infoboxcontent, li.Infoboxcontent, div.Infoboxcontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.tablevowelscontent, li.tablevowelscontent, div.tablevowelscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: center;
    text-indent: 0;
    page-break-after: avoid
    }
p.mainheading, li.mainheading, div.mainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.authorname, li.authorname, div.authorname {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-variant: small-caps
    }
p.section, li.section, div.section {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.References, li.References, div.References {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.Referencesubchapters, li.Referencesubchapters, div.Referencesubchapters {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.tablemainheading, li.tablemainheading, div.tablemainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: center;
    text-indent: 0;
    font-weight: bold
    }
p.tablevowelsleft, li.tablevowelsleft, div.tablevowelsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.tablevowelsupperrow, li.tablevowelsupperrow, div.tablevowelsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    text-indent: 0;
    font-style: italic
    }
p.tableconsonantsupperrow, li.tableconsonantsupperrow, div.tableconsonantsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    text-indent: 0;
    font-style: italic
    }
p.tableconsonantsleft, li.tableconsonantsleft, div.tableconsonantsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.tablepronounsupperrow, li.tablepronounsupperrow, div.tablepronounsupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.tablepronounsleft, li.tablepronounsleft, div.tablepronounsleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-variant: small-caps
    }
p.tableTAMmarkersupperrow, li.tableTAMmarkersupperrow, div.tableTAMmarkersupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.Referencetitles, li.Referencetitles, div.Referencetitles {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -0.1in
    }
p.tableTAMmarkerscontent, li.tableTAMmarkerscontent, div.tableTAMmarkerscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.tablepronounscontent, li.tablepronounscontent, div.tablepronounscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.tableconsonantscontent, li.tableconsonantscontent, div.tableconsonantscontent {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: center;
    text-indent: 0
    }
p.tableTAMmarkersleft, li.tableTAMmarkersleft, div.tableTAMmarkersleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    page-break-after: avoid;
    font-style: italic
    }
span.tablemainheadingZchn {
    font-weight: bold
    }
p.Standa1, li.Standa1, div.Standa1 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.Literatur, li.Literatur, div.Literatur {
    margin-top: 0;
    margin-bottom: 3pt;
    text-align: justify;
    text-indent: -35.45pt
    }
span.h21 {
    font-weight: bold
    }
span.Heading1Char {
    font-weight: bold
    }
p.ListParagraph1, li.ListParagraph1, div.ListParagraph1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.ListParagraph1CxSpFirst, li.ListParagraph1CxSpFirst, div.ListParagraph1CxSpFirst {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.ListParagraph1CxSpMiddle, li.ListParagraph1CxSpMiddle, div.ListParagraph1CxSpMiddle {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.ListParagraph1CxSpLast, li.ListParagraph1CxSpLast, div.ListParagraph1CxSpLast {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.FarbigeSchattierung-Akzent1, li.FarbigeSchattierung-Akzent1, div.FarbigeSchattierung-Akzent1 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
span.Heading3Char {
    font-weight: bold
    }
span.DocumentMapChar {
    background: navy
    }
span.CommentSubjectChar {
    font-weight: bold
    }
div.WordSection1 {
    page: WordSection1
    }
ol {
    margin-bottom: 0
    }
ul {
    margin-bottom: 0
    }