p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoFooter, li.MsoFooter, div.MsoFooter {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoCaption, li.MsoCaption, div.MsoCaption {
    margin-top: 6pt;
    margin-bottom: 6pt;
    text-align: justify;
    font-style: italic
    }
span.MsoFootnoteReference {
    vertical-align: super
    }
span.MsoEndnoteReference {
    vertical-align: super
    }
p.MsoList, li.MsoList, div.MsoList {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-indent: 14.2pt
    }
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
span.WW8Num41z0 {
    font-style: normal
    }
span.WW8Num43z0 {
    font-style: normal
    }
span.WW8Num45z0 {
    font-weight: bold;
    font-style: normal
    }
span.WW8Num48z0 {
    font-weight: bold;
    font-style: normal
    }
span.FootnoteCharacters {
    vertical-align: super
    }
span.ZchnZchn1 {
    font-weight: bold
    }
span.ZchnZchn {
    font-weight: bold;
    font-style: italic
    }
span.tablemainheadingZchn {
    font-weight: bold
    }
span.h21 {
    font-weight: bold
    }
span.Heading1Char {
    font-weight: bold
    }
p.Heading, li.Heading, div.Heading {
    margin-top: 12pt;
    margin-bottom: 6pt;
    text-align: justify;
    page-break-after: avoid
    }
p.Index, li.Index, div.Index {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.Fusnotentext, li.Fusnotentext, div.Fusnotentext {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -21.25pt
    }
p.Kommentartext, li.Kommentartext, div.Kommentartext {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.Sprechblasentext, li.Sprechblasentext, div.Sprechblasentext {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.Infoboxleft, li.Infoboxleft, div.Infoboxleft {
    margin: 0;
    margin-bottom: 0.0001pt
    }
p.Infoboxcontent, li.Infoboxcontent, div.Infoboxcontent {
    margin: 0;
    margin-bottom: 0.0001pt
    }
p.tablevowelscontent, li.tablevowelscontent, div.tablevowelscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: center;
    page-break-after: avoid
    }
p.mainheading, li.mainheading, div.mainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    font-weight: bold
    }
p.authorname, li.authorname, div.authorname {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-style: italic
    }
p.section, li.section, div.section {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.References, li.References, div.References {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.Referencetitles, li.Referencetitles, div.Referencetitles {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -0.1in
    }
p.Referencesubchapters, li.Referencesubchapters, div.Referencesubchapters {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.tablemainheading, li.tablemainheading, div.tablemainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: center;
    font-weight: bold
    }
p.tablevowelsleft, li.tablevowelsleft, div.tablevowelsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    font-style: italic
    }
p.tablevowelsupperrow, li.tablevowelsupperrow, div.tablevowelsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    font-style: italic
    }
p.tableconsonantsupperrow, li.tableconsonantsupperrow, div.tableconsonantsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    font-style: italic
    }
p.tableconsonantsleft, li.tableconsonantsleft, div.tableconsonantsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    font-style: italic
    }
p.tablepronounsupperrow, li.tablepronounsupperrow, div.tablepronounsupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-style: italic
    }
p.tablepronounsleft, li.tablepronounsleft, div.tablepronounsleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-variant: small-caps
    }
p.tableTAMmarkersupperrow, li.tableTAMmarkersupperrow, div.tableTAMmarkersupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-style: italic
    }
p.tableTAMmarkerscontent, li.tableTAMmarkerscontent, div.tableTAMmarkerscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.tablepronounscontent, li.tablepronounscontent, div.tablepronounscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.tableconsonantscontent, li.tableconsonantscontent, div.tableconsonantscontent {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: center
    }
p.tableTAMmarkersleft, li.tableTAMmarkersleft, div.tableTAMmarkersleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    page-break-after: avoid;
    font-style: italic
    }
p.Textkrper-Einzug2, li.Textkrper-Einzug2, div.Textkrper-Einzug2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt
    }
p.NurText, li.NurText, div.NurText {
    margin: 0;
    margin-bottom: 0.0001pt
    }
p.Example, li.Example, div.Example {
    margin-top: 0;
    margin-bottom: 6pt;
    text-indent: -25.25pt;
    page-break-after: avoid
    }
p.Aufzhlungszeichen, li.Aufzhlungszeichen, div.Aufzhlungszeichen {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -18pt
    }
p.ListParagraph1, li.ListParagraph1, div.ListParagraph1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.Literatur, li.Literatur, div.Literatur {
    margin-top: 0;
    margin-bottom: 3pt;
    text-align: justify;
    text-indent: -35.45pt
    }
p.StandardWeb, li.StandardWeb, div.StandardWeb {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -36pt
    }
p.Kommentarthema, li.Kommentarthema, div.Kommentarthema {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.TableContents, li.TableContents, div.TableContents {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.TableHeading, li.TableHeading, div.TableHeading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: center;
    font-weight: bold
    }
p.Framecontents, li.Framecontents, div.Framecontents {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.Bearbeitung, li.Bearbeitung, div.Bearbeitung {
    margin: 0;
    margin-bottom: 0.0001pt
    }
span.msoIns {
    text-decoration: underline
    }
div.WordSection1 {
    page: WordSection1
    }
ol {
    margin-bottom: 0
    }
ul {
    margin-bottom: 0
    }