p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    page-break-after: avoid;
    font-weight: bold
    }
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoFooter, li.MsoFooter, div.MsoFooter {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
span.MsoFootnoteReference {
    vertical-align: super
    }
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoBodyText3, li.MsoBodyText3, div.MsoBodyText3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoBodyTextIndent2, li.MsoBodyTextIndent2, div.MsoBodyTextIndent2 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 36pt
    }
p.MsoBodyTextIndent3, li.MsoBodyTextIndent3, div.MsoBodyTextIndent3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -36pt
    }
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    background: navy
    }
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
pre {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.MsoRMPane, li.MsoRMPane, div.MsoRMPane {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.Fusnotentext, li.Fusnotentext, div.Fusnotentext {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -21.25pt
    }
p.Sprechblasentext1, li.Sprechblasentext1, div.Sprechblasentext1 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.FussnotentextBattlebridgeCharChar, li.FussnotentextBattlebridgeCharChar, div.FussnotentextBattlebridgeCharChar {
    margin-top: 0;
    margin-bottom: 3pt;
    text-align: justify;
    text-indent: -21.25pt
    }
span.FormatvorlageFettKursivSchwarz {
    font-weight: bold;
    font-style: italic
    }
p.FussnotentextBattlebridgeChar, li.FussnotentextBattlebridgeChar, div.FussnotentextBattlebridgeChar {
    margin-top: 0;
    margin-bottom: 3pt;
    text-align: justify;
    text-indent: -21.25pt
    }
p.WCStext, li.WCStext, div.WCStext {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    letter-spacing: -0.1pt
    }
p.WCSExx, li.WCSExx, div.WCSExx {
    margin-top: 0;
    margin-bottom: 3pt;
    text-align: justify;
    text-indent: -21.25pt;
    letter-spacing: -0.1pt
    }
p.WCStitle1, li.WCStitle1, div.WCStitle1 {
    margin-top: 20.8pt;
    margin-bottom: 3pt;
    text-align: justify;
    text-indent: -18.45pt;
    page-break-after: avoid;
    letter-spacing: -0.1pt;
    font-weight: bold
    }
p.Bibliographie, li.Bibliographie, div.Bibliographie {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -14.4pt
    }
p.authorname, li.authorname, div.authorname {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-variant: small-caps
    }
span.h21 {
    font-weight: bold
    }
span.Heading1Char {
    font-weight: bold
    }
p.Infoboxcontent, li.Infoboxcontent, div.Infoboxcontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.Infoboxleft, li.Infoboxleft, div.Infoboxleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0
    }
p.Kommentarthema1, li.Kommentarthema1, div.Kommentarthema1 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.ListParagraph1, li.ListParagraph1, div.ListParagraph1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.ListParagraph1CxSpFirst, li.ListParagraph1CxSpFirst, div.ListParagraph1CxSpFirst {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.ListParagraph1CxSpMiddle, li.ListParagraph1CxSpMiddle, div.ListParagraph1CxSpMiddle {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.ListParagraph1CxSpLast, li.ListParagraph1CxSpLast, div.ListParagraph1CxSpLast {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.Literatur, li.Literatur, div.Literatur {
    margin-top: 0;
    margin-bottom: 3pt;
    text-align: justify;
    text-indent: -35.45pt
    }
p.mainheading, li.mainheading, div.mainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: left;
    text-indent: 0;
    font-weight: bold
    }
p.Referencesubchapters, li.Referencesubchapters, div.Referencesubchapters {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.Referencetitles, li.Referencetitles, div.Referencetitles {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -0.1in
    }
p.References, li.References, div.References {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.section, li.section, div.section {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-weight: bold
    }
p.Sprechblasentext2, li.Sprechblasentext2, div.Sprechblasentext2 {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.tableconsonantscontent, li.tableconsonantscontent, div.tableconsonantscontent {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: center;
    text-indent: 0
    }
p.tableconsonantsleft, li.tableconsonantsleft, div.tableconsonantsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.tableconsonantsupperrow, li.tableconsonantsupperrow, div.tableconsonantsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    text-indent: 0;
    font-style: italic
    }
p.tablemainheading, li.tablemainheading, div.tablemainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: center;
    text-indent: 0;
    font-weight: bold
    }
p.tablepronounscontent, li.tablepronounscontent, div.tablepronounscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.tablepronounsleft, li.tablepronounsleft, div.tablepronounsleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-variant: small-caps
    }
p.tablepronounsupperrow, li.tablepronounsupperrow, div.tablepronounsupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.tableTAMmarkerscontent, li.tableTAMmarkerscontent, div.tableTAMmarkerscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
p.tableTAMmarkersleft, li.tableTAMmarkersleft, div.tableTAMmarkersleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    page-break-after: avoid;
    font-style: italic
    }
p.tableTAMmarkersupperrow, li.tableTAMmarkersupperrow, div.tableTAMmarkersupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.tablevowelscontent, li.tablevowelscontent, div.tablevowelscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: center;
    text-indent: 0;
    page-break-after: avoid
    }
p.tablevowelsleft, li.tablevowelsleft, div.tablevowelsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    text-indent: 0;
    font-style: italic
    }
p.tablevowelsupperrow, li.tablevowelsupperrow, div.tablevowelsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    text-indent: 0;
    font-style: italic
    }
p.Textedebulles, li.Textedebulles, div.Textedebulles {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 0
    }
span.Char3 {
    font-weight: bold
    }
span.CommentSubjectChar {
    font-weight: bold
    }
div.WordSection1 {
    page: WordSection1
    }
ol {
    margin-bottom: 0
    }
ul {
    margin-bottom: 0
    }