p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoCommentText, li.MsoCommentText, div.MsoCommentText {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoHeader, li.MsoHeader, div.MsoHeader {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.MsoFooter, li.MsoFooter, div.MsoFooter {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
span.MsoFootnoteReference {
    vertical-align: super
    }
p.MsoListBullet, li.MsoListBullet, div.MsoListBullet {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -18pt
    }
p.MsoListBulletCxSpFirst, li.MsoListBulletCxSpFirst, div.MsoListBulletCxSpFirst {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -18pt
    }
p.MsoListBulletCxSpMiddle, li.MsoListBulletCxSpMiddle, div.MsoListBulletCxSpMiddle {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -18pt
    }
p.MsoListBulletCxSpLast, li.MsoListBulletCxSpLast, div.MsoListBulletCxSpLast {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -18pt
    }
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText {
    margin-top: 0;
    margin-bottom: 6pt;
    text-align: justify
    }
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: 21.25pt
    }
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2 {
    margin-top: 0;
    margin-bottom: 6pt;
    text-align: justify
    }
p.MsoBodyText3, li.MsoBodyText3, div.MsoBodyText3 {
    margin-top: 0;
    margin-bottom: 6pt;
    text-align: justify
    }
p.MsoBodyTextIndent3, li.MsoBodyTextIndent3, div.MsoBodyTextIndent3 {
    margin-top: 0;
    margin-bottom: 6pt;
    text-align: justify
    }
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    background: navy
    }
p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.Fusnotentext, li.Fusnotentext, div.Fusnotentext {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -21.25pt
    }
span.Heading1Char {
    font-weight: bold
    }
span.Heading2Char {
    font-weight: bold;
    font-style: italic
    }
p.Infoboxleft, li.Infoboxleft, div.Infoboxleft {
    margin: 0;
    margin-bottom: 0.0001pt
    }
p.Infoboxcontent, li.Infoboxcontent, div.Infoboxcontent {
    margin: 0;
    margin-bottom: 0.0001pt
    }
p.tablevowelscontent, li.tablevowelscontent, div.tablevowelscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    page-break-after: avoid
    }
p.mainheading, li.mainheading, div.mainheading {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.authorname, li.authorname, div.authorname {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-variant: small-caps
    }
p.section, li.section, div.section {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.References, li.References, div.References {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.Referencesubchapters, li.Referencesubchapters, div.Referencesubchapters {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-weight: bold
    }
p.tablemainheading, li.tablemainheading, div.tablemainheading {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    font-weight: bold
    }
p.tablevowelsleft, li.tablevowelsleft, div.tablevowelsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    font-style: italic
    }
p.tablevowelsupperrow, li.tablevowelsupperrow, div.tablevowelsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    font-style: italic
    }
p.tableconsonantsupperrow, li.tableconsonantsupperrow, div.tableconsonantsupperrow {
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: center;
    font-style: italic
    }
p.tableconsonantsleft, li.tableconsonantsleft, div.tableconsonantsleft {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: justify;
    font-style: italic
    }
p.tablepronounsupperrow, li.tablepronounsupperrow, div.tablepronounsupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-style: italic
    }
p.tablepronounsleft, li.tablepronounsleft, div.tablepronounsleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-variant: small-caps
    }
p.tableTAMmarkersupperrow, li.tableTAMmarkersupperrow, div.tableTAMmarkersupperrow {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    font-style: italic
    }
p.Referencetitles, li.Referencetitles, div.Referencetitles {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    text-indent: -0.1in
    }
p.tableTAMmarkerscontent, li.tableTAMmarkerscontent, div.tableTAMmarkerscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.tablepronounscontent, li.tablepronounscontent, div.tablepronounscontent {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify
    }
p.tableconsonantscontent, li.tableconsonantscontent, div.tableconsonantscontent {
    margin-top: 1pt;
    margin-bottom: 1pt;
    text-align: center
    }
p.tableTAMmarkersleft, li.tableTAMmarkersleft, div.tableTAMmarkersleft {
    margin: 0;
    margin-bottom: 0.0001pt;
    text-align: justify;
    page-break-after: avoid;
    font-style: italic
    }
span.tablemainheadingZchn {
    font-weight: bold
    }
span.CommentSubjectChar {
    font-weight: bold
    }
span.msoIns {
    text-decoration: underline
    }
div.WordSection1 {
    page: WordSection1
    }
ol {
    margin-bottom: 0
    }
ul {
    margin-bottom: 0
    }