p {
    margin-bottom: 0.1in;
    text-align: left;
    widows: 2;
    orphans: 2
    }
span.c28 {
    font-style: italic;
    font-weight: bold
    }
p.c27 {
    margin-bottom: 0;
    text-align: justify
    }
p.c26 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: 0.3in
    }
p.c25 {
    margin-bottom: 0;
    text-align: left
    }
span.c24 {
    font-variant: small-caps
    }
span.c23 {
    font-style: italic;
    font-weight: bold
    }
td.c22 {
    border-top: none;
    border-bottom: 1px solid #00000a;
    border-left: none;
    border-right: none;
    padding: 0
    }
td.c21 {
    border: none;
    padding: 0
    }
p.c20 {
    text-align: left
    }
p.c19 {
    text-align: right
    }
span.c18 {
    font-weight: bold
    }
td.c17 {
    border-top: 1px solid #00000a;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 0
    }
p.c16 {
    text-align: left
    }
span.c15 {
    font-weight: bold
    }
p.c14 {
    margin-bottom: 0;
    text-align: justify
    }
span.c13 {
    font-style: italic
    }
p.c12 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: 0.3in
    }
p.c11 {
    margin-bottom: 0;
    text-align: justify;
    text-indent: 0.3in
    }
p.c9 {
    margin-bottom: 0;
    text-align: justify
    }
p.c8 {
    margin-bottom: 0;
    text-align: justify
    }
span.c7 {
    font-weight: bold
    }
p.c6 {
    margin-bottom: 0
    }
p.c5 {
    margin-bottom: 0;
    text-align: center
    }
span.c4 {
    font-style: italic
    }
p.c2 {
    margin-bottom: 0;
    text-align: center
    }
span.c1 {
    font-weight: bold
    }